{% extends 'main.html' %}
{% block myContent %}


<style>
    body{
        
        background:radial-gradient(#00d9ff,#3f4bf4); 
         height: 100vh;
         font-family: serif; 
         text-shadow: 0 0 0.5px #1900ff, 0 0 0.5px #8c00ff;
        
    }
    h1 {
        text-shadow: 0 0 3px #1900ff, 0 0 5px #8c00ff;
   
   font-family: serif;
}
   

</style>

<center><b><h1 style="color:black;"><marquee behavior="scroll" direction="left">Welcome to logout Page</marquee></h1></b></center>


{% endblock %}