{% extends 'header.html' %} 

{% block myContent %} 

<form action="http://localhost:8000/Donar/viewdonor/" method="post">



<table class="table">
    <tr>
        <td> Username  </td>
        <td> 
            <input name="username" type="text" class="form-control"> 
        </td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input name="password" type="text" class="form-control"> 

        </td>
    </tr>
    <tr>
        <td></td>
        <td> <button class="btn btn-success"> LOGIN </button></td>
    </tr>

    
</table>
</form>
{% endblock %} 


